<div class="p-4 bg-zinc-900 rounded-md shadow-md">
  <div class="flex flex-row justify-between items-center">
    <h2 class="text-md">Inventário</h2>
    <app-button label="Adicionar Item" size="xs" (click)="openItemCreateDialog()"></app-button>
  </div>
  <div class="mb-4"></div>
  <div class="grid grid-cols-4 gap-2">
    <div class="col-span-1 rounded-md p-2 border border-zinc-800">
      <div class="flex flex-col gap-2 items-center">
        <h2 class="text-md">Equipamentos</h2>
        <div cdkDropList #slotCapacete="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Capacete']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Capacete')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Capacete')" class="aspect-square w-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700 relative">
          @if (this.inventory()?.equipedItems?.['Capacete']){
            <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Capacete']!.raridade)]">
              <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Capacete']!.icone"></ui-icon>
            </div>
          } @else {
            <span class="text-xs text-zinc-500 p-1">Capacete</span>
          }
          @if (this.inventory()?.equipedItems?.['Capacete']) {
            <div (click)="unequipItem('Capacete')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
          }
        </div>
        <div cdkDropList #slotLuvas="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Luvas']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Luvas')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Luvas')" class="relative aspect-square w-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
          @if (this.inventory()?.equipedItems?.['Luvas']){
            <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Luvas']!.raridade)]">
              <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Luvas']!.icone"></ui-icon>
            </div>
          } @else {
            <span class="text-xs text-zinc-500 p-1">Luvas</span>
          }
          @if (this.inventory()?.equipedItems?.['Luvas']) {
            <div (click)="unequipItem('Luvas')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
          }
        </div>
        <div cdkDropList #slotArmadura="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Armadura']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Armadura')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Armadura')" class="relative aspect-square w-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
          @if (this.inventory()?.equipedItems?.['Armadura']){
            <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Armadura']!.raridade)]">
              <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Armadura']!.icone"></ui-icon>
            </div>
          } @else {
            <span class="text-xs text-zinc-500 p-1">Armadura</span>
          }
          @if (this.inventory()?.equipedItems?.['Armadura']) {
            <div (click)="unequipItem('Armadura')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
          }
        </div>
        <div cdkDropList #slotBotas="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Botas']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Botas')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Botas')" class="relative aspect-square w-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
          @if (this.inventory()?.equipedItems?.['Botas']){
            <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Botas']!.raridade)]">
              <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Botas']!.icone"></ui-icon>
            </div>
          } @else {
            <span class="text-xs text-zinc-500 p-1">Botas</span>
          }
          @if (this.inventory()?.equipedItems?.['Botas']) {
            <div (click)="unequipItem('Botas')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
          }
        </div>
        <h2 class="text-md">Armas</h2>
        <div class="flex flex-row gap-2">
          <div cdkDropList #slotArmaCorpo="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Arma Corpo a Corpo']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Arma Corpo a Corpo')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Arma Corpo a Corpo')" class="relative w-20 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Arma Corpo a Corpo']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Arma Corpo a Corpo']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Arma Corpo a Corpo']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Arma Corpo a Corpo</span>
            }
            @if (this.inventory()?.equipedItems?.['Arma Corpo a Corpo']) {
              <div (click)="unequipItem('Arma Corpo a Corpo')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
          <div cdkDropList #slotEscudo="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Escudo']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Escudo')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Escudo')" class="relative w-20 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Escudo']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Escudo']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Escudo']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Escudo</span>
            }
            @if (this.inventory()?.equipedItems?.['Escudo']) {
              <div (click)="unequipItem('Escudo')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
        </div>
        <h2 class="text-md">Arma a distância</h2>
        <div class="flex flex-row gap-2">
          <div cdkDropList #slotArmaDistancia="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Arma a Distância']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Arma a Distância')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Arma a Distância')" class="relative w-15 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Arma a Distância']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Arma a Distância']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Arma a Distância']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Arma a Distância</span>
            }
            @if (this.inventory()?.equipedItems?.['Arma a Distância']) {
              <div (click)="unequipItem('Arma a Distância')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
        </div>
        <h2 class="text-md">Acessórios</h2>
        <div class="flex flex-row flex-wrap justify-center gap-2">
          <div cdkDropList #slotAcessorio1="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Acessório 1']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Acessório 1')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Acessório 1')" class="relative w-20 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Acessório 1']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Acessório 1']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Acessório 1']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Acessório</span>
            }
            @if (this.inventory()?.equipedItems?.['Acessório 1']) {
              <div (click)="unequipItem('Acessório 1')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
          <div cdkDropList #slotAcessorio2="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Acessório 2']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Acessório 2')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Acessório 2')" class="relative w-20 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Acessório 2']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Acessório 2']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Acessório 2']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Acessório</span>
            }
            @if (this.inventory()?.equipedItems?.['Acessório 2']) {
              <div (click)="unequipItem('Acessório 2')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
          <div cdkDropList #slotAcessorio3="cdkDropList" [itemTooltip]="this.inventory()?.equipedItems?.['Acessório 3']" [cdkDropListData]="[]" (cdkDropListDropped)="dropItem($event, 'Acessório 3')" [cdkDropListEnterPredicate]="makeCanDropItemPredicate('Acessório 3')" class="relative w-20 h-15 bg-zinc-800 rounded-md flex items-center justify-center border border-zinc-700">
            @if (this.inventory()?.equipedItems?.['Acessório 3']){
              <div
                class="w-full h-full flex items-center justify-center rounded-md"
                [ngClass]="[getRarityColor(this.inventory()?.equipedItems?.['Acessório 3']!.raridade)]">
                <ui-icon svgClass="fill-white w-5 h-5" [name]="this.inventory()?.equipedItems?.['Acessório 3']!.icone"></ui-icon>
              </div>
            } @else {
              <span class="text-xs text-zinc-500 p-1">Acessório</span>
            }
            @if (this.inventory()?.equipedItems?.['Acessório 3']) {
              <div (click)="unequipItem('Acessório 3')" class="flex px-1.25 py-0.75 rounded-xl cursor-pointer bg-zinc-800 hover:brightness-50 absolute right-0.5 top-0.5"><i class="text-red-500 text-xs font-bold fa-solid fa-xmark"></i></div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-3 rounded-md h-full">
      <div cdkDropList #itemsList="cdkDropList" id="itemsList" cdkDropListOrientation="mixed" (cdkDropListDropped)="dropItem($event)" [cdkDropListData]="inventory().itemSlots" [cdkDropListConnectedTo]="[slotArmadura, slotBotas, slotCapacete, slotLuvas, slotAcessorio1, slotAcessorio2, slotAcessorio3, slotArmaCorpo, slotArmaDistancia, deleteList]" class="flex flex-row flex-wrap gap-2 h-max rounded-md p-2 border border-zinc-800">
        @for (item of inventory().itemSlots; track item){
          <div cdkDrag [cdkDragData]="item" [itemTooltip]="item.item" (click)="openItemEditDialog(item.item)" class="aspect-square p-3 rounded-md flex items-center justify-center border cursor-pointer" [ngClass]="[getRarityColor(item.item.raridade)]">
            <ui-icon svgClass="fill-white w-5 h-5" [name]="item.item.icone"></ui-icon>
          </div>
        }
      </div>
      <div class="mt-4  flex flex-row justify-end relative">
        <div cdkDropList #deleteList="cdkDropList" [cdkDropListData]="[]" (cdkDropListDropped)="deleteDroppedItem($event)" class="p-2 w-12 h-12 flex flex-col justify-center items-center rounded-md border border-zinc-800 bg-zinc-900">

        </div>
        <i class="fa fa-trash text-red-500/30 absolute top-4.5 right-4.5"></i>
      </div>
    </div>

  </div>
</div>
